extends mdc-auto-init

mixin mdc-dialog(parameters)
	append mdc-auto-init
		script.
			const #{parameters.id} = mdc.dialog.MDCDialog.attachTo(document.getElementById("helloDialog"));
			dialog.open();
	if parameters.id
		.mdc-dialog(id=parameters.id role="alertdialog" aria-modal="true" aria-labelledby=parameters.id ? `${parameters.id}-title` : false aria-describedby="#{parameters.id}-content")
			.mdc-dialog__container
				.mdc-dialog__surface
					if parameters.title
						h2.mdc-dialog__title(id="#{parameters.id}-title")= parameters.title
					.mdc-dialog__content(id="#{parameters.id}-content")
						block
					footer.mdc-dialog__actions
						each button in parameters.buttons
							if button.classes
								- button.classes = button.classes.join(" ")
							button.mdc-button.mdc-dialog__button(id=button.id class=button.classes ? button.classes : false type="button" data-mdc-dialog-action=button.action ? button.action : false)
								span.mdc-button__label= button.label
			.mdc-dialog__scrim