mixin mdc-typography-headline1(text)
	h1.mdc-typography--headline1= text

mixin mdc-typography-headline2(text)
	h2.mdc-typography--headline2= text

mixin mdc-typography-headline3(text)
	h3.mdc-typography--headline3= text

mixin mdc-typography-headline4(text)
	h4.mdc-typography--headline4= text

mixin mdc-typography-headline5(text)
	h5.mdc-typography--headline5= text

mixin mdc-typography-headline6(text)
	h6.mdc-typography--headline6= text

mixin mdc-typography-subtitle1(text)
	h6.mdc-typography--subtitle1= text

mixin mdc-typography-headline2(text)
	h2.mdc-typography--subtitle2= text

mixin mdc-typography-body1(text)
	p.mdc-typography--body1= text

mixin mdc-typography-body2(text)
	p.mdc-typography--body2= text

mixin mdc-typography-button(text)
	span.mdc-typography--button= text

mixin mdc-typography-caption(text)
	span.mdc-typography--caption= text

mixin mdc-typography-overline(text)
	span.mdc-typography--overline= text