mixin button-content(label, leftIcon, rightIcon)
	if leftIcon
		i.material-icons.mdc-button__icon(aria-hidden="true")= leftIcon
	.mdc-button__label= label
	if rightIcon
		i.material-icons.mdc-button__icon(aria-hidden="true")= rightIcon

mixin mdc-button()
	//- Enables ripple by default
	- attributes.ripple = attributes.ripple || attributes.ripple === undefined ? "MDCRipple" : false
	button.mdc-button(id=attributes.id class=attributes.class data-mdc-auto-init=attributes.ripple disabled=attributes.disabled)
		+button-content(attributes.label, attributes.leftIcon, attributes.rightIcon)

mixin mdc-button-raised()
	//- Enables ripple by default
	- attributes.ripple = attributes.ripple || attributes.ripple === undefined ? "MDCRipple" : false
	button.mdc-button.mdc-button--raised(id=attributes.id class=attributes.class data-mdc-auto-init=attributes.ripple disabled=attributes.disabled)
		+button-content(attributes.label, attributes.leftIcon, attributes.rightIcon)

mixin mdc-button-outlined()
	//- Enables ripple by default
	- attributes.ripple = attributes.ripple || attributes.ripple === undefined ? "MDCRipple" : false
	button.mdc-button.mdc-button--outlined(id=attributes.id class=attributes.class data-mdc-auto-init=attributes.ripple disabled=attributes.disabled)
		+button-content(attributes.label, attributes.leftIcon, attributes.rightIcon)

mixin mdc-button-unelevated()
	//- Enables ripple by default
	- attributes.ripple = attributes.ripple || attributes.ripple === undefined ? "MDCRipple" : false
	button.mdc-button.mdc-button--unelevated(id=attributes.id class=attributes.class data-mdc-auto-init=attributes.ripple disabled=attributes.disabled)
		+button-content(attributes.label, attributes.leftIcon, attributes.rightIcon)