mixin button-content(label, leftIcon, rightIcon)
	if leftIcon
		i.material-icons.mdc-button__icon(aria-hidden="true")= leftIcon
	.mdc-button__label= label
	if rightIcon
		i.material-icons.mdc-button__icon(aria-hidden="true")= rightIcon

mixin mdc-button(_)
	//- Enables ripple by default
	- _.ripple = _.ripple || _.ripple === undefined ? "MDCRipple" : false
	button.mdc-button(id=_.id class=_.class data-mdc-auto-init=_.ripple disabled=_.disabled)
		+button-content(_.label, _.leftIcon, _.rightIcon)

mixin mdc-button-raised(_)
	//- Enables ripple by default
	- _.ripple = _.ripple || _.ripple === undefined ? "MDCRipple" : false
	button.mdc-button.mdc-button--raised(id=_.id class=_.class data-mdc-auto-init=_.ripple disabled=_.disabled)
		+button-content(_.label, _.leftIcon, _.rightIcon)

mixin mdc-button-outlined(_)
	//- Enables ripple by default
	- _.ripple = _.ripple || _.ripple === undefined ? "MDCRipple" : false
	button.mdc-button.mdc-button--outlined(id=_.id class=_.class data-mdc-auto-init=_.ripple disabled=_.disabled)
		+button-content(_.label, _.leftIcon, _.rightIcon)

mixin mdc-button-unelevated(_)
	//- Enables ripple by default
	- _.ripple = _.ripple || _.ripple === undefined ? "MDCRipple" : false
	button.mdc-button.mdc-button--unelevated(id=_.id class=_.class data-mdc-auto-init=_.ripple disabled=_.disabled)
		+button-content(_.label, _.leftIcon, _.rightIcon)