mixin mdc-list()
	ul.mdc-list(id=attributes.id class=attributes.class)
		block

mixin mdc-list-two-line()
	ul.mdc-list.mdc-list--two-line(id=attributes.id class=attributes.class)
		block

mixin mdc-list-item(_)
	//- Enables ripple effect by default
	- _.ripple == null || _.ripple == true ? _.ripple = "MDCRipple" : false
	li.mdc-list-item(tabindex="0" data-mdc-auto-init=_.ripple)
		if _.leadingIcon
			span.mdc-list-item__graphic.material-icons(aria-hidden="true")= _.leadingIcon
		.mdc-list-item__text
			span.mdc-list-item__primary-text= _.label
			span.mdc-list-item__secondary-text= _.subtitle
		if _.trailingIcon
			span.mdc-list-item__meta.material-icons(aria-hidden="true")= _.trailingIcon

mixin mdc-list-subheader(label)
	h3.mdc-list-group__subheader= label

mixin mdc-list-divider()
	li.mdc-list-divider(role="separator")